@model IEnumerable<Protoshop.Models.Product>

@{
    ViewBag.Title = "Produkter";
}

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <i class="glyphicon glyphicon-search gb"></i>
        <input type="text" class="form-control searchbar" id="search" name="search" placeholder="Sök..." />
        <input type="submit" value="sök" class="hidden" />
}
        <div class="products">
    @foreach (var item in Model)
    {

    <a href="@Url.Action("Details", "Products", new { id = item.ID })" class="product">
      <img src="@Url.Content("~/Content/Images/" + item.ImageFile)" alt="bild" />
       <h2>@item.Name</h2>
     <p>
      <span class="price">@item.Price kr</span>
      <span class="btn btn-success buy">
      <span class="glyphicon glyphicon-shopping-cart"></span> Köp </span>
     </p>
     <p class="desc">@item.Description</p>
     </a>
}
        </div>